@using EntityLayer.Concrete
@model List<Portfolio>

<section class="section bg-custom-gray" id="portfolio">
    <div class="container">
        <h1 class="mb-5"><span class="text-danger">Pro</span>je</h1>
        <div class="portfolio">
            <div class="filters">
                <a href="#" data-filter=".new" class="active">
                    New
                </a>
                <a href="#" data-filter=".advertising">
                    Advertising
                </a>
                <a href="#" data-filter=".branding">
                    Branding
                </a>
                <a href="#" data-filter=".web">
                    Web
                </a>
            </div>
            <div class="portfolio-container">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="~/johndoe/public_html/assets/imgs/web-1.jpg" class="img-fluid" alt="project image">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/web-1.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">WEB</h6>
                                    <p class="subtitle">@item.Description/p>
                                </div>
                            </div>
                        </div>
                    </div>
                }                
            </div>
        </div>
    </div>
</section>