@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | 401 Access Denied</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="error-page" style="align-items : center;">

            <h2 class="headline text-danger">404</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Bir şeyler yanlış gitti.</h3>

                <p>
                   Bu sayfaya erişim yetkiniz yoktur.
                    Daha sonra tekrar deneyiniz.<a href="/Default/Index/">Anasayfaya Dönebilirsiniz.</a>
                </p>

            </div>
        </div>
    </section>
    <script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.2.0/dist/js/adminlte.min.js"></script>
    <script src="~/AdminLTE-3.2.0/dist/js/demo.js"></script>
</body>
</html>
