@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header">
    <h3 class="card-title">Hakkımda</h3>
</div>
<div class="card-body p-0">
    <table class="table table-striped projects">
        <thead>
            <tr>
                <th style="width: 1%">
                    ID
                </th>
                <th style="width: 30%">
                    Ad Soyad
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.AboutID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="/About/ShowAbout/@item.AboutID">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Göster
                        </a>
                        <a class="btn btn-info btn-sm" href="/About/EditAbout/@item.AboutID">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Düzenle
                        </a>
                        <a class="btn btn-danger btn-sm" href="/About/DeleteAbout/@item.AboutID">
                            <i class="fas fa-trash">
                            </i>
                            Sil
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <a href="/About/AddAbout" class="btn btn-primary">Yeni Hakkımda Ekle</a>
</div>
