@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Sertifika Ekleme Formu</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Sertifika Başlık</label>
                <input type="text" class="form-control" name="ServiceHeader" placeholder="Sertifika Başlık*">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Açıklama</label>
                <br />
                <textarea rows="3" cols="100" name="ServiceContent"></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>