@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Sertifika Düzenleme Formu</h3>
    </div>
    @using (Html.BeginForm("EditService", "Service", FormMethod.Post))
    {
        <div class="card-body">
            @Html.HiddenFor(x => x.ServiceID)
            <div class="form-group">
                <label for="Sertifika Başlığı">Sertifika Başlık</label>
                @Html.TextBoxFor(x => x.ServiceHeader, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Açıklama">Açıklama</label>
                @Html.TextAreaFor(x => x.ServiceContent, new { @class = "form-control" })
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button class="btn btn-primary">Kaydet</button>
        </div>
    }
</div>

