@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header">
    <h3 class="card-title">Sertifika Listesi</h3>
</div>
<div class="card-body p-0">
    <table class="table table-striped projects">
        <thead>
            <tr>
                <th style="width: 1%">
                    ID
                </th>
                <th style="width: 30%">
                    Başlık
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ServiceID
                    </td>
                    <td>
                        @item.ServiceHeader
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="/Service/ShowService/@item.ServiceID">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Göster
                        </a>
                        <a class="btn btn-info btn-sm" href="/Service/EditService/@item.ServiceID">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Düzenle
                        </a>
                        <a class="btn btn-danger btn-sm" href="/Service/DeleteService/@item.ServiceID">
                            <i class="fas fa-trash">
                            </i>
                            Sil
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <a href="/Service/AddService" class="btn btn-primary">Yeni Sertifika Ekle</a>
</div>
