<footer class="footer py-3">
    <div class="container">
        <p class="small mb-0 text-light">
            &copy; <script>document.write(new Date().getFullYear())</script> Created With <i class="ti-heart text-danger"></i> By <a href="http://devcrud.com" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">DevCRUD</span></a>
        </p>
    </div>
</footer>

<!-- core  -->
<script src="~/johndoe/public_html/assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="~/johndoe/public_html/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

<!-- bootstrap 3 affix -->
<script src="~/johndoe/public_html/assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Isotope  -->
<script src="~/johndoe/public_html/assets/vendors/isotope/isotope.pkgd.js"></script>

<!-- Google mpas -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

<!-- JohnDoe js -->
<script src="~/johndoe/public_html/assets/js/johndoe.js"></script>
