
<div class="col-lg-8">
    <div class="contact-form-card">
        <h4 class="contact-title">Mesaj Gönder</h4>
        <form action="/Default/SendMessage/" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="Name" placeholder="Ad Soyad *" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="Mail" placeholder="Email *" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="" name="Content" placeholder="Mesaj *" rows="7" required></textarea>
            </div>
            <div class="form-group ">
                <button type="submit" class="form-control btn btn-primary">Gönder</button>
            </div>
        </form>
    </div>
</div>