@model EntityLayer.Concrete.Education
@{
    ViewData["Title"] = "EditEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Eğitim Düzenleme Formu</h3>
    </div>
    @using (Html.BeginForm("EditEducation", "Education", FormMethod.Post))
    {
        <div class="card-body">
            @Html.HiddenFor(x => x.EducationID)
            <div class="form-group">
                <label for="Sertifika Başlığı">Okul</label>
                @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Alınan Yer">Bölüm</label>
                @Html.TextBoxFor(x => x.SubHeader, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Açıklama">Açıklama</label>
                @Html.TextAreaFor(x => x.Content, new { @class = "form-control" })
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button class="btn btn-primary">Kaydet</button>
        </div>
    }
</div>